<div class="container">
    <mat-card>
        <h1>Event Registration</h1>
        <div class="namein">
            <form class="example-form">
                <mat-form-field class="example-full-width">
<input matInput placeholder="Enter Event type" value="" [(ngModel)]="EventName" [ngModelOptions]="{standalone: true}"
  required>
                </mat-form-field>
            </form>
        </div>
        <div class="namein">
            <form class="example-form">
                <mat-form-field class="example-full-width">
<input matInput placeholder="Number of rooms" value="" [(ngModel)]="EventsRoom" [ngModelOptions]="{standalone: true}"
  required>
                </mat-form-field>
            </form>
        </div>
        <div class="namein">
            <form class="example-form">
                <mat-form-field class="example-full-width">
<input matInput placeholder="Mobile Number" value="" [(ngModel)]="EventsMobile" [ngModelOptions]="{standalone: true}"
  required>
                </mat-form-field>
            </form>
        </div>
        <div class="namein">
            <mat-form-field>
<input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="Eventsdate" [ngModelOptions]="{standalone: true}"
  required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class=""></div>
        <p><a href="#" class="btn btn-outlined">Register Events</a></p>

    </mat-card>