<div class="container">
  <mat-card>
    <h1>Register Hosters</h1>
    <p class="username"><input type="text" [(ngModel)]="username" placeholder="enter User Name"> <input type="text" [(ngModel)]="password"
        placeholder="enter User password"> </p>
    <div class="namein">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter hoster name" value="" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
            required>
        </mat-form-field>
      </form>
    </div>
    <div class="namein">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Employee ID" value="" [(ngModel)]="empid" [ngModelOptions]="{standalone: true}"
            required>
        </mat-form-field>
      </form>
    </div>
    <div class="namein">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Designation" value="" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}"
            required>
        </mat-form-field>
      </form>
    </div>
    <div class="namein">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Department" value="" [(ngModel)]="department" [ngModelOptions]="{standalone: true}"
          required>
      </mat-form-field>
    </div>
    <div class="namein">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Mobile Number" value="" [(ngModel)]="mobileno" [ngModelOptions]="{standalone: true}"
          required>
      </mat-form-field>
    </div>
    <!-- <div class=""></div> -->
    <div class="row1">

      <button href="#" class="btn btn-outlined" (click)="HostRegister()">Register Hoster</button>

    </div>
  </mat-card>
