table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

td.mat-cell {
    padding: 10px;
    border-bottom-width: 3px;
    border-bottom-style: ridge;
    vertical-align: baseline;
}

.container {
    padding: 40px;
    height: 400px;
    overflow-x: auto;
}
